@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
  background: #E5E5E5;
  color: #fff;
  
}

input {
    padding: 0;
}
.app-container {
  margin: 20px auto;
  width: 550px;
  height: 550px;
  background: #1f2937;
  border: 5px solid #fff;
  border-radius: 25px;
  overflow: hidden;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  
  height: 260px;
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
  
}

#title-main {
    margin: 53px auto 20px auto;
    font-size: 22px;
}
.input-container {
 
  
}


#value-input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 800;
  font-size: 97.5723px;
  line-height: 24px;
  width: auto;
  padding: 0;
  text-align: center;  
}

#value-input::placeholder {
  color: rgba(255, 255,255,0.6);
  
}
#value-input:focus {
  outline: none;
 
}
/* #value-input:focus::placeholder {
  color: transparent;
 
} */


/* Result section */

.result-section {
    margin-top: 10px;
}

.result {
    margin-top: 27px;
}

.result-txt {
    margin-top: 5px;
}